.Rhistory
.RData
Rplots.pdf
Console.log
/C
/code/.Rhistory
/code/.RData
/data/01_exposure
/data/02_tracts
/data/03_exp_tracts
/data/05_demog
/data/06_dem.agr/county
/data/06_dem.agr/nation
/data/06_dem.agr/STATEFP
/data/07_paf
/data/08_total_burden/ness
/data/08_total_burden
/data/09_total_burden_parsed/nation
/data/09_total_burden_parsed/STATEFP
/data/12_total_burden_parsed2/nation
/data/12_total_burden_parsed2/STATEFP
/data/tmp
/raw_restricted_fake
/raw_restricted_fake2